th, td{
  padding: 10px;
}

table{
  text-align: center;
  border-collapse: collapse;
}

tr:nth-child(even){
  background-color: white;
}

tr:hover{
  background-color: cyan;
}

tr:nth-child(even):hover{
  background-color: cyan;
}

th{
  background-color: yellow;
}

.button:hover{
  cursor: pointer;
}

.edit, .delete{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0px;
}

.edit:hover, .delete:hover{
  box-shadow: 0px 0px 1px 0px rgba(1,1,1,0.5);
}

.edit{
  background-color: yellow;
  color: black;
}

.delete{
  background-color: red;
  color: white;
}
